body {
  background-color: #F5F5F5;
  color: #43404F;
}

a {
  color: white;
  line-height: 40px;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a:hover {
  color: #888888;
}

.section1 {
  background-color: #43404F;
  color: white;
}

.footer {
  background-color: #43404F;
}

@media screen and (max-width: 767px) {
  html {
    overflow-x: hidden;
    overflow-y: auto;
  }
  body {
    overflow-x: hidden;
    overflow-y: auto;
  }
  .section1 {
    padding: 25% 4% 5% 2%;
  }
  .section1 .myprof {
    font-size: 25px;
  }
  .section1 .myprof .name {
    line-height: 25px;
  }
  .section1 .myprof .name .github-icon {
    height: 25px;
  }
  .section1 .myprof .text {
    text-align: left;
    font-size: 13px;
    margin: 10px 0 0 4px;
  }
  .section1 .myprof .text .link {
    border-bottom: white solid 1px;
    color: white;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .section1 .myprof .text a:hover {
    color: #43404F;
  }
  .section1 .table {
    margin: 10px 0 0 4px;
    font-size: 20px;
  }
  .section2 .row {
    margin: 0 auto;
  }
  .section2 .pc {
    display: none;
  }
  .section2 a {
    color: #43404F;
    border-bottom: 2px #43404F solid;
  }
  .section2 .container-fluid {
    padding: 0;
  }
  .section2 .title {
    text-align: center;
    border-bottom: 1px solid #43404F;
  }
  .section2 .news {
    margin: 20px 0 60px 0;
  }
  .section2 .news .contents {
    text-align: center;
    padding: 10px 0 0 0;
    line-height: 24px;
  }
  .section2 .top-sp {
    margin: 30px 0 0 0;
    text-align: center;
  }
  .section2 .top-sp .notion {
    font-size: 10px;
  }
  .section2 .bottom-sp {
    text-align: center;
  }
  .section2 .bottom-sp .sub-title {
    margin: 30px 0 30px 0;
    font-size: 25px;
  }
  .section2 .bottom-sp .text {
    font-size: 20px;
    line-height: 20px;
  }
  .section2 .c-apps {
    margin-bottom: 60px;
  }
  .section2 .publications .contents {
    margin: 20px 0 0 0;
  }
  .section2 .publications img {
    text-align: center;
    margin: 10px 0 60px 5%;
    width: 90%;
  }
  .section2 .skills {
    margin-bottom: 60px;
  }
  .section2 .skills .contents {
    text-align: center;
    margin: 20px 0 0 0;
  }
  .footer {
    padding: 30px 0 10px 0;
    color: white;
    text-align: center;
  }
  .footer img {
    height: 30px;
  }
}
@media screen and (min-width: 768px) {
  .sp {
    display: none;
  }
  .row {
    margin: 0 auto;
  }
  .section1 {
    padding: 70px 0 70px 0;
  }
  .section1 .myprof {
    padding: 30px 0 30px 15px;
    font-size: 48px;
  }
  .section1 .myprof .name {
    border-left: white 9px solid;
    line-height: 48px;
    padding: 0 0 0 8px;
  }
  .section1 .myprof .name .github-icon {
    height: 48px;
  }
  .section1 .myprof .text {
    font-size: 24px;
  }
  .section1 .myprof .text .link {
    border-bottom: white solid 2px;
    color: white;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .section1 .myprof .text a:hover {
    color: #888888;
  }
  .section1 .table {
    font-size: 20px;
    padding: 15px 0 0 20px;
  }
  .section1 .table a {
    color: white;
    line-height: 40px;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .section1 .table a:hover {
    color: #888888;
  }
  .section2 {
    margin: 10px 0 0 0;
    text-align: center;
  }
  .section2 a {
    color: #43404F;
    border-bottom: 2px #43404F solid;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .section2 a:hover {
    color: #888888;
  }
  .section2 .title-area {
    padding: 0 50px 0 50px;
  }
  .section2 .title {
    text-align: center;
    border-bottom: 1px solid #43404F;
  }
  .section2 .news {
    margin-bottom: 70px;
  }
  .section2 .news .contents {
    padding: 10px 0 0 0;
    line-height: 24px;
  }
  .section2 .c-apps {
    margin-bottom: 70px;
  }
  .section2 .c-apps .contents {
    margin: 50px 0 0 0;
  }
  .section2 .c-apps .notion {
    font-size: 10px;
    margin: 5px 0 0 0;
  }
  .section2 .c-apps .text-area {
    font-size: 30px;
    text-align: left;
    padding: 50px 0 0 50px;
  }
  .section2 .c-apps .text-area .text {
    margin: 30px 0 0 0;
    font-size: 24px;
  }
  .section2 .c-apps .img-area {
    padding: 30px 0 0 0;
  }
  .section2 .publications .contents {
    text-align: left;
    padding: 50px 0 0 70px;
  }
  .section2 .publications img {
    text-align: center;
    width: 100%;
    margin: 10px 0 70px 0;
  }
  .section2 .skills {
    margin-bottom: 70px;
  }
  .section2 .skills .contents {
    text-align: center;
    padding: 15px 0 0 0;
    line-height: 30px;
  }
  .container-fluid {
    width: 768px;
    margin: auto auto;
  }
  .footer {
    margin: 30px 0 0 0;
    padding: 80px 0 10px 0;
    text-align: center;
  }
  .footer img {
    height: 80px;
  }
  .footer .copy {
    margin: 30px 0 0 0;
    color: white;
  }
}/*# sourceMappingURL=index.css.map */