// 主要色
$cmain:#F5F5F5;
$c1:#43404F;
$c5:#A3DDCB;
// $c6:#709FB0;
$c6:#444454;
$flarge:48px;
$fmid:24px;
$fmid2:20px;
$fmini:10px;
$flarge2:30px;

$flarge-sp:25px;
$fmid-sp:13px;
$fmid2-sp:20px;
$fmini-sp:10px;
$ff:'Noto Serif JP', serif;
