@import "valiables";


@media screen and (min-width:768px) {
    .section{
        &__title_top{
            .text{
                font-size:$fs2;
            }
        }
        .section-table{
            margin: 160px 0 0 0 ;
            &__title{
                font-size: $fs3;
                margin: 0 0 50px 0;
            }
            &__chap{
                margin:30px 0 30px 0;
                font-size: $fs4;
            }
        }
    }
    .sp{
        // text-align: center;
        a{
            color: $col-sub2-clear;
        }
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        font-size: 40px;
        bottom:120px;
    }
    .up{
        top: 20px;
    }
    .section{
        &__title{
            margin: 0 0 0 100px;
            width:250px;
            padding: 50px 20px 50px 20px;
            border-right:8px solid $col-sub2-clear ;
            border-bottom:8px solid $col-sub2-clear ;
            font-size: $fs4;
        }
        &__text{
            font-size: $fs3;
            margin:20px 0 70px 52%;
        }
        &__bul{
            margin: 30px 0 30px 0;
        }
        &__bulsub{
            font-size:20px;
            margin: 0 0 20px 0;
        }
        &__omake{
            margin: 0 0 0 20%;
            .title{
                font-size: $fs3;
            }
            img{
                height: 200px;
            }
            padding: 0 0 0 90px;
            .arrow{
                display: inline-block;
            }
            .output{
                display: inline-block;
            }
        }
        .long-title{
            text-align: left;padding: 20px;
        }
    }
}

@media screen and (max-width:767px) {
    body::before{
        left:5%;
    }
    .section{
        &__title_top{
            .text{
                margin: 15% 0 0 0 ;
                font-size:20px;
            }
        }
        .section-table{
            margin:15% 0 0 0 ;
            &__title{
                font-size: $fs3;
                text-align: center;
                animation: fadeIn 6s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
                margin: 0 0 50px 0;
            }
            &__chap{
                a{
                    display: inline-block;
                    transition: all .3s ease 0s;
                    color: $col-sub2;
                    text-decoration: none;
                }
                a:hover {
                    // text-decoration: underline;
                    transform: scale(1.5);
                    cursor: pointer;
                }
                margin:30px 0 30px 0;
                text-align: center;
                font-size: $fs4;
                animation: fadeIn 10s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
            }
        }
    }
    .sp{
        // text-align: center;
        a{
            color: $col-sub2-clear;
        }
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        font-size: 40px;
        bottom:50px;
    }
    .up{
        bottom: 130px;
    }

    section{
        padding: 20px 0 0 0;
    }
    .pc{
        display: none;
    }
    .section{
        &__title{
            // margin: 0 0 0 100px;
            width:100%;
            padding: 5% 0 15% 0;
            text-align: center;
            border-bottom:5px solid $col-sub2-clear ;
            font-size: $fs4;
        }
        &__text{
            width: 80%;
            margin: 5% 10% 0 10%;
            font-size: 17px;

        }
        &__bul{
            margin: 30px 0 30px 0;
        }
        &__bulsub{
            font-size:20px;
            margin: 0 0 20px 0;
        }
        &__omake{
            width: 100%;
            .title{
                text-align: center;
                font-size: 15px;
            }
            img{
                width: 50%;
                margin: 0 25% 0 25%;
            }
            .arrow{
                display: none;
            }
            .output{
                display: inline-block;
            }
        }
    }
    .totop{
        text-decoration: none;
        color: $col-sub2-clear;
        font-size: 10px;
        text-align: right;
        position: fixed;
        // width: 90%;
        right:10px;
        bottom: 20px;
        span{
            border: double 5px $col-sub2-clear;
            padding: 2px 3px 5px 3px;
            transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);
        }
    }
}


section{
    height: 100vh;
}

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes caret {
  50% {
    border-right-color: currentColor;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
 