@import "valiables";
@import "common";


@media screen and (max-width:767px){
    html {
        overflow-x: hidden;
        overflow-y: auto;
    }
    
    body {
        overflow-x: hidden;
        overflow-y: auto;
    }
        
    .section1{
        padding: 25% 4% 5% 2%;
        .myprof{
            font-size: $flarge-sp;
            .name{
                line-height: $flarge-sp;
                .github-icon{
                    height:$flarge-sp;
                }
            }
            .text {
                text-align: left;
                font-size: $fmid-sp;
                margin: 10px 0 0 4px;
            
                .link {
                    border-bottom: white solid 1px;
                    color: white;
                    text-decoration: none;
                    -webkit-transition: all 0.5s ease;
                    -moz-transition: all 0.5s ease;
                    -o-transition: all 0.5s ease;
                    transition: all 0.5s ease;
                }
            
                a:hover {
                    color: $c1;
                }
            }
        }
        .table{
            margin: 10px 0 0 4px;
            font-size: $fmid2-sp;
        }
    }
    .section2{
        .row{
            margin: 0 auto;
        }
        .pc{
            display: none;
        }
        a {
            color: $c1;
            border-bottom: 2px $c1 solid
        }
        .container-fluid{
            padding: 0;
        }
        .title {
            text-align: center;
            border-bottom: 1px solid $c1;
        }
        .news {
            .contents {
                text-align: center;
                padding: 10px 0 0 0;
                line-height: $fmid;
            }
            margin:20px 0 60px 0;
        }
        .top-sp{
            margin:30px 0 0 0;
            text-align: center;
            .notion{
                font-size: $fmini-sp;
            }
        }
        .bottom-sp{
            text-align: center;
            .sub-title{
                margin: 30px 0 30px 0;
                font-size: $flarge-sp;
            }
            .text{
                font-size: $fmid2-sp;
                line-height: $fmid2-sp;
            }
        }
        .c-apps{
            margin-bottom: 60px;
        }
        .publications{
            .contents{
                margin:20px 0 0 0;
            }
            img {
                text-align: center;
                margin: 10px 0 60px 5%;
                width: 90%;
            }
        }
        .skills{
            .contents {
                text-align: center;
                margin: 20px 0 0 0;
            }
            margin-bottom: 60px;
        }
    }
    .footer{
        padding: 30px 0 10px 0;
        color: white;
        text-align: center;
        img{
            height: 30px;
        }
    }
}

@media screen and (min-width:768px) {
    .sp{
        display: none;
    }
    .row {
        margin: 0 auto;
    }
    .section1{
        padding:70px 0 70px 0;
        .myprof{
            padding: 30px 0 30px 15px;
            font-size: $flarge;
            .name{
                border-left: white 9px solid;
                line-height: $flarge;
                padding: 0 0 0 8px;
                .github-icon{
                    height: $flarge;
                }
            }
            .text{
                font-size: $fmid;
                .link{
                    border-bottom: white solid 2px;
                    color: white;
                    text-decoration: none;
                    -webkit-transition: all 0.5s ease;
                    -moz-transition: all 0.5s ease;
                    -o-transition: all 0.5s ease;
                    transition: all 0.5s ease;
                }
                a:hover{
                    color: #888888;
                }
            }
        }
        .table{
            font-size: $fmid2;
            a{
                color: white;
                line-height: 40px;
                text-decoration: none;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
            }   
            a:hover {
                color: #888888;
            }
            padding: 15px 0 0 20px;
        }
    }
    .section2{
        margin: 10px 0 0 0;
        text-align: center;
        a{
            color: $c1;
            border-bottom: 2px $c1 solid;
            text-decoration: none;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }               
        a:hover {
            color: #888888;
        }
        .title-area{
            padding: 0 50px 0 50px;
        }
        .title{
            text-align: center;
            border-bottom: 1px solid $c1;
        }
        .news{
            .contents{
                padding: 10px 0 0 0;
                line-height: $fmid;

            }
            margin-bottom: 70px;
        }
        .c-apps{
            .contents{
                margin: 50px 0 0 0;
            }
            .notion{
                font-size: $fmini;
                margin: 5px 0 0 0;
            }
            .text-area{
                font-size: $flarge2;
                text-align: left;
                padding: 50px 0 0 50px;
                .text{
                    margin: 30px 0 0 0;
                    font-size: $fmid;
                }
            }
            .img-area{
                padding:30px 0 0 0;
            }
            margin-bottom: 70px;
        }
        .publications{
            .contents{
                text-align: left;
                padding: 50px 0 0 70px;
            }
            img{
                text-align: center;
                width:100%;
                margin: 10px 0 70px 0;
            }
        }
        .skills{
            .contents{
                text-align: center;
                padding: 15px 0 0 0 ;
                line-height: 30px;
            }
            margin-bottom: 70px;
        }
    }
    .container-fluid{
        width: 768px;
        margin:auto auto ;
    }

    .footer{
        margin: 30px 0 0 0;
        padding: 80px 0 10px 0;
        text-align: center;
        img{
            height: 80px;
        }
        .copy{
            margin: 30px 0 0 0;
            color: white;
        }
    }


}