@import "valiables";

@media screen and (min-width:768px) {
    body{
        padding: 8% 5% 10% 5%;
        font-family:"游ゴシック";
        background-color:$c6;
    }
    .section_title{
        width:94%;
        padding:5% 0 1% 5%;
        color: $c4;
        font-size: $fs4;
        color:white;
    }
    .section1{
        width:94%;
        padding: 5%;
        background-color: white;
        border-radius: 15px;
        text-align: center;
        .left{
            background-color: $c5;
            border-radius: 65px;
            color:white;
            img{
                margin:15% 0 5% 0;
                width:90%;
            }
        }
        .right {
            // margin: ;
            padding-left: 5%;
            color:$c4;
            text-align: left;
            height:50px;
        }
    }
    
    .section2{
        width: 94%;
        padding-top: 5%;
        .title{
            color: white;
            padding-bottom:1%;
            // text-align: center;
            font-size: $fs4;
        }
        .left{
            padding:0 5% 0 0;
            .content{
                .sub_title{
                    color:$c4;
                    font-size: $fs4;
                }
                padding: 2% 4% 2% 4%;
                background-color: white;
                border-radius: 15px;
                color:$c4;
            }
        }
        .right{
            padding:0 5% 0 0;
            .content {
                padding: 2% 0 2% 2%;
                background-color: white;
                border-radius: 15px;
                color: $c4;
            }
        }
    }
    .section3{
        width:94%;
        .row{
        // background-color: $c5;
        background-color: white;
        border-radius: 15px;
        padding: 5%;
        }
        .left{
            padding:2% 0 2% 0;
            background-color: $c5;
            border-radius: 40px;
            text-align: center;
            .title{
                margin: 0 0 4% 0 ;
            }
            img{
                width:60%
            }
        }
        .right{
            padding:4% 5% 2% 5%;
            a {
                text-decoration: none;
                color: $c4;
                span{
                    font-size: 20px;
                }
            }
            font-size: $fs2;
            color: $c4;
            .text{
                padding: 5% 0 0 0;
                font-size: 15px;
                .sub_title{
                    font-size: $fs4;
                    border-left:5px $c1 solid;
                    border-bottom:5px $c6 solid;
                    margin:0 0 2% 0;
                }
            }
        }
    }
}